[Unit]
Description=Node Exporter
Requires=node_exporter.socket

[Service]
User=node_exporter
EnvironmentFile=/etc/node_exporter.d/node_exporter.env
ExecStart=/usr/bin/node_exporter --web.systemd-socket $OPTIONS

[Install]
WantedBy=multi-user.target